body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #424242;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  section {
    margin: 50px auto;
    max-width: 800px;
  }
  
  h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 20px 0;
  }
  
  section#menu {
    background-color: #f8f8f8;
    padding: 50px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    margin-bottom: 30px;
  }
  
  li img {
    height: 100px;
    margin-right: 20px;
    width: 100px;
  }
  
  li h3 {
    font-size: 1.5em;
    margin: 0;
  }
  
  li p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
  }
  
  li span {
    font-size: 1.5em;
    margin-left: auto;
  }
  
  section#about {
    background-color: #f8f8f8;
    padding: 50px;
  }
  
  section#contact {
    background-color: #333;
    color: #fff;
    padding: 50px;
  }
  
  form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    display: block;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  form button[type="submit"] {
    background-color: #fff;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 20px;
  }
  
  form button[type="submit"]:hover {
    background-color: #333;
    color: #fff;
  }